<section class="footer-social">
    <a href="mailto:mail@aquasonic.ch" target="_blank" rel="noopener" title="Mail"><i class="fa fa-2x fa-fw fa-envelope"></i> <span class="hidden">Mail</span></a>&nbsp;
    <a href="https://twitter.com/aquasonic" target="_blank" rel="noopener" title="Twitter"><i class="fa fa-2x fa-fw fa-twitter"></i> <span class="hidden">Twitter</span></a>&nbsp;
    <a href="https://github.com/aquasonic" target="_blank" rel="noopener" title="GitHub"><i class="fa fa-2x fa-fw fa-github"></i> <span class="hidden">GitHub</span></a>&nbsp;
    <a href="https://stackoverflow.com/users/2074649/kevin-brechbuhl" target="_blank" rel="noopener" title="Stack Overflow"><i class="fa fa-2x fa-fw fa-stack-overflow"></i> <span class="hidden">Stack Overflow</span></a>&nbsp;
    <a href="https://ch.linkedin.com/in/kevinbrechbuehl" target="_blank" rel="noopener" title="LinkedIn"><i class="fa fa-2x fa-fw fa-linkedin"></i> <span class="hidden">LinkedIn</span></a>&nbsp;
    <a href="{{@blog.url}}/rss/" target="_blank" rel="noopener" title="RSS"><i class="fa fa-2x fa-fw fa-rss"></i> <span class="hidden">RSS</span></a>
</section>

