<section class="footer-social">
    <a href="https://twitter.com/aquasonic" target="_blank" rel="noopener" title="Twitter"><i class="fa fa-2x fa-fw fa-twitter"></i> <span class="hidden">Twitter</span></a>&nbsp;
    <a href="https://facebook.com/aquasonic" target="_blank" rel="noopener" title="Facebook"><i class="fa fa-2x fa-fw fa-facebook"></i> <span class="hidden">Facebook</span></a>&nbsp;
    <a href="https://github.com/aquasonic" target="_blank" rel="noopener" title="GitHub"><i class="fa fa-2x fa-fw fa-github"></i> <span class="hidden">GitHub</span></a>&nbsp;
    <a href="https://stackoverflow.com/users/2074649/kevin-brechbuhl" target="_blank" rel="noopener" title="Stack Overflow"><i class="fa fa-2x fa-fw fa-stack-overflow"></i> <span class="hidden">Stack Overflow</span></a>&nbsp;
    <a href="https://ch.linkedin.com/in/kevinbrechbuehl" target="_blank" rel="noopener" title="LinkedIn"><i class="fa fa-2x fa-fw fa-linkedin"></i> <span class="hidden">LinkedIn</span></a>&nbsp;
    <a href="https://www.xing.com/profile/Kevin_Brechbuehl" target="_blank" rel="noopener" title="Xing"><i class="fa fa-2x fa-fw fa-xing"></i> <span class="hidden">Xing</span></a>&nbsp;
    <a href="https://careers.stackoverflow.com/kevinbrechbuehl" target="_blank" rel="noopener" title="Careers 2.0"><i class="fa fa-2x fa-fw fa-stack-exchange"></i> <span class="hidden">Careers 2.0</span></a>&nbsp;
    <a href="{{@blog.url}}/rss/" target="_blank" rel="noopener" title="RSS"><i class="fa fa-2x fa-fw fa-rss"></i> <span class="hidden">RSS</span></a>
</section>

